bedrock-agentcore
bedrock-agentcore-starter-toolkit
fastapi
langchain_community
langchain_mcp_adapters
langchain_openai
langchain-aws
langgraph
nova-act
# opentelemetry-instrumentation-langchain
opentelemetry-instrumentation-botocore
pyjwt>=2.10.1
requests